.appCountryCard {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid wheat;
  border-radius: 12px;
  padding: 16px;
  flex: 1 1 320px;
  max-width: 320px;
  box-shadow: 0 4px 8px black;
  transition: transform 0.2s ease;
}

.appCountryCard:hover {
  transform: scale(1.05);
}

.coutryEdit {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
