.countryLikeIcon {
    width: 20px;
}

.countyLike {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border: 2px solid #7a7979;
    color: #555;
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 3px 5px;
    gap: 3px;
    cursor: pointer;
}